.idea
.vscode
.DS_Store
/node_modules
/reports
*lock*
*.log*
conout.png
tests/commons1.js
tests/commons2.js
tests/commons3.js
tests/commons4.js
tests/commons5.js
tests/commons6.js
tests/commons7.js
tests/commons8.js
tests/commons9.js
tests/commonsA.js
tests/commonsB.js
tests/commonsC.js
tests/commonsD.js
tests/commonsE.js
tests/commonsF.js
clonescript.cmd
